.home {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.robo-page {
  background-color: #fff;
  overflow-y: scroll;
  padding: 1rem;
  max-height: 643px;
}

.search-icon {
  position: absolute;
  margin-top: 12px;
  margin-left: 10px;
}

.search-bar {
  margin-bottom: 2rem;
  background: #fafafa;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding: 12px;
  padding-left: 2.3rem;
  width: 100%;
}

.card {
  background: #fafafa;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  display: flex;
  margin-bottom: 20px;
  min-width: 706px;
}

.card:hover,
.card-active {
  border: 1px solid #4765ff;
}

.card-image {
  max-width: 134px;
  background-color: grey;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.card-description {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.card-details {
  display: flex;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.543846);
}

.location {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.543846);
}

.email {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  /* text-align: right; */
  /* width: 40%; */
  margin-left: auto;
  margin-right: 2rem;
}

.btn {
  cursor: pointer;
  color: #009688;
  margin-top: 1.1rem;
  margin-left: 20px;
}

.solid-hr {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
